.coisas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1008px;
    

}

.infos{
    border: solid;
    border-color: #7A247D;
    border-top: #000000;
    border-bottom: #000000;
    border-left: #000000;
    border-width: 2px;
    padding-right: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 60%;
}

.informacoes_entrega{
    font-size: 1.1em;
    font-weight: bolder;
    text-align: left;
    padding: 30px 0px 30px 0px;
}

.confirmacaopedido{
    font-size: 1.3em;
    font-weight: bolder;
    text-align: center;
    padding: 0px 0px 30px 0px;
}

.coisas input{
    border: solid;
    border-color: #7A247D;
    border-top: #000000;
    border-right: #000000;
    border-left: #000000;
    border-width: 2px;
    width: 100%;
}

.coisas h2{
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 20px;
    margin-top: 15px;
}

.nome-sobrenome{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fixo-cel{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bairro-cidade{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.informacoes_pagamento{
    font-size: 1.1em;
    font-weight: bolder;
    text-align: left;
    padding: 30px 0px 30px 0px;
}

.forma-de-pagamento{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.infocartao{
    display: none;
    margin-bottom: 100px;
}

.infocartao:target{
    display: block;
    pointer-events: auto;
}

.pedidos{
    margin-top: 40px;
}

.botaocomprarcheckout{
    text-align: center;
    margin-top: 60px;
}

.botaocomprarcheckout a{
    background-color: #7A247D;
    color: white;
    text-decoration: none;
    padding: 4px 30px 4px 30px;
    font-size: 1.4em;
    font-family: 'Bellota Text', cursive;
}

.pagar-na-entrega{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 154px;
}

.forma-de-pagamento a{
    text-decoration: none;
    color: black;
}


.forma-de-pagamento h1{
    font-size: 1.2em;
}

.pagar-na-entrega2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 154px;
}