
@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,400;0,700;1,400&family=Roboto:wght@100;700&display=swap');



header{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #7A247D;
    justify-content: space-evenly;
    padding-top: 13px;
    padding-bottom: 13px;
    width: 100%;
}

.home-bloco1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    max-width: 400px;
}

.home-bloco1 a img{
    width: 80px;
    max-width: 100%;
}

.linkheader{
    text-decoration: none;
    color: black;
}

.barra-busca-home{
    background-color: #7A247D;
    font-size: 16px;
    border-color: #F5C661;
    border-top: #000000;
    border-right: #000000;
    border-left: #000000;
    color: #F5C661;
    max-width: 100%;
}

.home-sublobo1{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;    
    align-items: baseline;
    justify-content: space-evenly;
    max-width: 100%;
}

#searchbutton{
    border: none;
    background-color: #7A247D;
    position: relative;
    top: 8px;
    max-width: 100%;
}

.img-lupinha{
    width: 100%;
    height: 25px;
    max-width: 23px;
}

.home-bloco2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 320px;
    max-width: 100%;
}


.img-carrinho{
    width: 38px;
    max-width: 100%;
}

.img-conta{
    width: 30px;
    padding-top: 4.7px;
    max-width: 100%;
}

.faca_pedido{
    background-color: #F5C661;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    padding: 8px 15px 8px 15px;
    max-width: 100%;
}

.img-carrinho:onclick{
    display: none;
}

.modal{
    display: none;
    background-color: #F5C661;
    position: fixed;
    height: 96%;
    max-width: 400px;
    right: 0;
    border: solid;
    border-color: #7A247D;
    overflow-y: scroll;
}

.modal:target{
    display: block;
    pointer-events: auto;
}

.fechar{
    display: flex;
    flex-direction: row;
    justify-content: right;
    text-decoration: none;
}

.lista-product-carrinho{
    display: flex;
    flex-direction: column;
}

.lista-produtos-carrinho{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    background-color: white;
    margin: 10px 30px 10px 30px;
    border: solid;
    border-color: #7A247D; 
    font-weight: bold;
    padding: 0px 15px 0px 0px;
}

.lista-produtos-carrinho img{
    width: 80px;
    height: 80px;
}

.texto-carrinho-produto{
    display: flex;
    flex-direction: column;
    max-width: 40%;
}

.listacarrinho-box1{
    border: solid;
    border-color: #7A247D;
    border-top: #000000;
    border-right: #000000;
    border-left: #000000;
    border-width: 2px;
    width: 323px;
    position: relative;
    left: 30px;
    margin-bottom: 20px;
    color:#7A247D;
    font-size: 1.8em;
    font-weight: bold;
    padding-bottom: 10px;

}

.listacarrinho-box2{
    border: solid;
    border-color: #7A247D;
    border-bottom: #000000;
    border-right: #000000;
    border-left: #000000;
    border-width: 2px;
    width: 322px;
    position: relative;
    left: 30px;
    margin-top: 20px;
    padding-top: 20px;
    font-weight: bold;
}

.botao-comprar-carrinho-box{
    text-align: center;
    margin-top: 40px;
}

.botao-comprar-carrinho{
    background-color: #7A247D;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 6px 40px 6px 40px;
}

