@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,400;0,700;1,400&family=Roboto:wght@100;700&display=swap');

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cabecalho{
    display: flex;
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #7A247D;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.titulo{
    font-family: 'Roboto', sans-serif;
    color:  #F5C661;
    font-weight: bold;
    text-shadow: 1px 2px 2px black;
    font-size: 48px;
    margin: 30px
}

.subtitulo{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 28px;

}

.conheca{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 40px;
}


.nossa-loja{
    font-family: 'Bellota Text', sans-serif;
    font-size: 32px;
    font-weight: 1px;
}

.tipos{
    font-family: 'Bellota Text', sans-serif;
    font-size: 24px;
    margin-left: 20px;
    text-align: left;
}

#menu-categorias{
    display: flex;
    padding: 20px;
    text-decoration: none;
    align-items: center;
    justify-content: space-evenly;
}


.menu-principal{
    display: flex;
    flex-direction: column;
    margin: 100px
}

.pratos-principais{
    font-weight: 700;
    font-size: 24px;
}

.pratos-dia{
    font-family: 'Bellota Text', sans-serif;
    font-size: 24px;
    margin-left: 20px;
    font-weight: bolder;
}

#dia{
    text-transform: uppercase;
}

.container2{
    display: flex;
    flex-direction: column;
    width: 70%;
}

.home-categorias-top{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    padding-top: 50px; 
    padding-bottom: 50px; 
}

.home-categorias-top li{
    padding-left: 15px;
    padding-right: 15px;
    width: 222px;
    height: 222px;
}

.imagems-home-categoria img{
    width: 222px;
    height: 222px;
}

.nomes-home-categoria{
    background:  linear-gradient( to right, #7A247D, rgba(138, 138, 138, 0) );
    color: white;
    padding-top: 13px ;
    padding-bottom: 13px ;
    padding-left: 15px;
    font-size: 1.3em;
    position: relative;
    bottom: 49px;
}

.maisop{
    background-color: #F5C661;
    padding: 15px 30px 15px 30px;
    font-size: 1.4em;
    font-weight: 900;
    margin-top: 40px;
    margin-bottom: 40px;
    color: black;
}

.footer2{
    width: 100%;
    height: 500px;
    background-color: #7A247D;
}

#div-visite{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mapa-end{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.mapaendli {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

.mapaendli img{
    margin-right: 7px;
}

.visite{
    margin-top: 45px;
    color: white;
    font-family: 'Bellota Text', sans-serif;
    font-size: 32px;
    font-weight: lighter;
}

.sub-footer{
    display: flex;
    margin: 70px;
    height: 300px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.endereco{
    font-size: 14px;
    color: white;
    text-height: 20px;
}
