.lista-productsmain{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.products-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 1008px;
}

.product-item{
    padding-left: 15px;
    padding-right: 15px;
}

.product-info{
    display: flex;
    flex-direction: column-reverse;
    width: 222px;
    height: 300px;
    margin-top: 30px;
}


.name-price-add{
    display: flex;
    flex-direction: column;
    background:  linear-gradient( to right, #7A247D, rgba(138, 138, 138, 0) );
    color: white;
    text-decoration-line: none;
    padding-top: 10px ;
    padding-bottom: 10px ;
}

.price-add{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.letras{
    font-size: 17px;
    color: white;
    font-weight: bold;
    padding-left: 6px;
    text-align: left;
}

.link-productlist{
    text-decoration: none;
}

.carrinho2{
    padding-right: 10px;
    width: 40px;
    height: 37px;
}
