
.single_product_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.single_product_container2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: justify;
    padding-left: 98px;
    width: 587px;
}

.single_product_container3{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.single-productimage{
    width: 400px;
    height: 250px;
    box-shadow: -4px 4px 10px 1px #7a247d;
}

.single-productname{
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 1.7em;
    margin-bottom: 14px;
}

.single-productdesc{
    font-size: 1.1em;
    font-weight: bold;
    line-height: 24px;
    color: black;
    margin-bottom: 74px;
}

.singleproductprice{
    font-size: 1.4em;
    font-weight: bold;
}

.linksingleproductadd{
    text-decoration: none;
    color: white;
    background-color: #7A247D;
    font-weight: bold;
    font-size: 1.4em;
    padding: 10px 20px 10px 20px;
}

.maiscomidaaa{
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: bold;
    text-align: left;
    padding-top: 20px;
    padding-left: 55px;
    width: 60%;
}